html{
    scroll-behavior: smooth;
}


/* description p */
.description p{
    margin: 10px 0px;
}

.prose h2{
    font-size: 22px;
    font-weight: bold;
}

.prose ul, .prose ol{
    padding: 10px 0px;
    margin-left: 30px;

}

.prose ol{
    list-style: disc;
}

.prose ul{
    list-style: circle;
}
